{{#link-to 'index'}}&lsaquo; back{{/link-to}}
<div class="Detail">
	{{#scrolling-devices}}
		<div class="Device Device--mobile">
			<iframe src="http://marcelwanders.cybex-online.com/" frameborder="0" scrolling="auto"></iframe>
		</div>
	{{/scrolling-devices}}

	{{outlet}}
</div>
