/**
 * Typography
 */

$font-14: rem(14);
$font-15: rem(15);
$font-16: rem(16);
$font-17: rem(17);
$font-20: rem(20);
$font-25: rem(25);
$font-30: rem(30);
$font-35: rem(35);
$font-40: rem(40);
$font-50: rem(50);
$font-70: rem(60);


%font-regular {
	font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
}

%font-italic {
	font-family: 'Source Sans Pro', sans-serif; font-weight: 400; font-style: italic;
}

%font-bold {
	font-family: 'Source Sans Pro', sans-serif; font-weight: 600;
}


// Headers
@mixin h1 {
	@extend %font-regular;
	line-height: 1.1;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: $font-35;
	@media (min-width: $layout-s) {
		font-size: $font-40;
	}
	@media (min-width: $layout-m) {
		font-size: $font-50;
	}
	@media (min-width: $layout-l) {
		font-size: $font-70;
	}
}

@mixin h2 {
	@extend %font-regular;
	font-size: $font-25;
	line-height: 1.1;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	@media (min-width: $layout-m) {
		font-size: rem(26);
	}
}

@mixin h3 {
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 1rem;
}

@mixin text {
	font-size: 12px;
	@media (min-width: $layout-m) {
		font-size: $base-font-size;
	}
}
