{{nav-main}}
<div class="Nav {{if layout.onIndex 'is-hidden'}} {{if layout.onAbout 'is-hidden'}}">
	{{#each model as |item|}}
		{{#link-to 'detail' item class="Nav-item"}}
			<span></span>
		{{/link-to}}
	{{/each}}
</div>
<main class="App-main">
	{{!-- don't move the outlet without changing liquid.scss --}}
	{{liquid-outlet}}
</main>
