/**
 * Animations
 */

// Fade in images
.Teaser-media img,
.Cover-media img,
.DetailHead-media img  {
	transition: opacity 1s $easing;
	opacity: 0;
	&.lazyloaded {
		transition: opacity 1s $easing;
		opacity: 1;
	}
}
