/**
 * Animations
 */

// Fade in images
.Device,
.About,
.DetailBody,
.Teaser-wrap {
	transition: opacity 1.5s $easing;
	opacity: 0;
	&.lazyloaded {
		transition: opacity 1.5s $easing;
		opacity: 1;
	}
}

.Device {
	transition-delay: 1.5s;
	&.lazyloaded {
		transition-delay: 1.5s;
	}
}
