/**
 * Navigation
 */

.Nav {
	position: fixed;
	z-index: 2;
	right: rem(10);
	bottom: rem(10);

	@media (min-width: $layout-m) {
		right: rem($space);
		bottom: inherit;
		top: rem(10);
	}
	span::after {
		content: '';
		display: inline-block;
		width: rem(6);
		height: rem(6);;
		background-color: rgba($black, 0.15);
		border-radius: 50%;
		transition: background-color 0.4s ease-in-out;
	}
	a {
		padding: rem(10) rem(2);
		@media (min-width: $layout-m) {
			padding: rem(20) rem(2);
		}
	}

	a.is-active,
	a:hover {
		span::after {
			background-color: $black;
		}
	}

}



/* Sub Navigation */

.NavSub {
	position: absolute;
	z-index: 10;
	width: 100%;
	left: 0;
	top: rem(62);
	min-height: 2em; //needs a height to keep it open while moving the cursor

	// pointer-events: none;
	&.is-hidden {
		display: none;
	}
	@media (max-width: 656px) {
		display: none !important;
	}
}

.NavSub-content {
	@include flexRow;
	background-color: $white;
	border: 2px solid $black;
	padding: rem($space);
}

.NavSub-wrap {
	@include flexCol;
	justify-content: flex-start;
	width: 100%;

	h3 {
		font-size: 12px;
		margin-bottom: 0;
	}
	a {
		font-size: 12px;
	}
}

/* Filter Navigation */

.NavFilter {
	@include flexRow;
	background-color: $white;
	border: 2px solid $yellow;
	align-items: flex-end;
	padding: rem(10) rem(10) rem(10) rem($space);

	@media (max-width: 656px) {
		display: none;
	}

	a i {
			margin-left: rem(4);
			width: rem(16);
			height: rem(16);
			vertical-align: middle;
			margin-top: rem(1);
	}

	> i {
		margin-right: rem(15);
		width: rem(16);
		height: rem(16);
	}

	a {
		padding: 0;
		background: none;
		font-size: 12px;
		text-transform: lowercase;
	}
}
.NavFilter--sticky {
	display: none;
	width: 25%;
	&.is-sticky {
		@include flexCol;
		align-items: flex-start;
		max-width: rem(200);

		position: fixed;
		top: 0;
		z-index: 90;
	}
}
.NavFilter--inline {
	@include flexCol;
	align-items: flex-start;
	max-width: rem(200);
	&.is-sticky {
		visibility: hidden;
	}
}

.NavFilter--left {
	height: rem(300);
	padding: rem(10);
	a {
		margin: 0;
	}
}

