/**
 * Teaser
 **/

// iframe {
// 	scroll-behavior: smooth;
//     overflow: scroll;
// }

.Teaser {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0 rem($space);
	padding-top: 9.5em;

	// visualy hide scrollbar
	// margin-right: -13px;
	// height: 100%;
	// overflow-y: scroll;

	a:hover,
	a:active {
		.Teaser-media {
			img {
				// filter: brightness(96%);
				opacity: 0.8;
			}
		}
		.Teaser-body {
			position: relative;
		}
	}

	// until here
	a:first-of-type {
		// margin-top: 8.4em;
	}

	@media (min-width: 430px)  {
		padding: 6.5em rem(5) 1em;

		a:first-of-type {
			// margin-top: 100px;
		}
	}
	@media (min-width: 650px) {
		padding-top: 10em;
	}
	@media (min-width: $layout-m) {
		padding-top: 14em;
	}
}
.Teaser-wrap {
	position: relative;
	flex: 1 100%;
	margin: rem(5);
	margin-bottom: 0.8em !important;
	@media (min-width: 500px) {
		flex: 2 40%;
		margin: rem(8);
	}
	@media (min-width: $layout-m) {
		margin-bottom: 2em !important;
		flex: 30%;
		max-width: 30%;
	}
	> div {
		// transition-delay: 1.5s;
		// opacity: 0;
	}
	&.lazyloaded {
		@include animation-delay(44);
		// border: 2px solid;
		// padding: 1.5em;
		// height: rem(241);
		> div {
			// @include animation-delay(4);
			// opacity: 1;
		}
	}

	.Link::after {
		transition: all 0.2s ease-in-out !important;
	}
	&:hover {
		.Link {
			&::after {
				width: rem(100);
			}
		}
	}
}

a.Teaser-wrap--last {
	border: 2px solid $black;
	padding: rem(15);

	position: relative;

	span {
		opacity: 0;
		border: 2px solid $black;
	}

	> div {
		position: absolute;
		bottom: 0.5em;
	}
}

.Teaser-media {
	@include ratio(4,3);
	margin-bottom: 0;
	overflow: hidden;

	> * {
		width: 100%;
		height: rem(250);
		// -webkit-transition: -webkit-filter 1600ms $easing;
		transition: opacity 150ms $easing;
		@include ratio-inner;

		// filter: brightness(1);
		backface-visibility: hidden;
		object-fit: cover;
	}
}
.Teaser-body {
	overflow: hidden;
	padding: 15px;
	margin: 0;
	background-color: $white;

	img {
		width: 14px;
		float: left;
	}
	p {
		font-size: 13px;
		margin: 0;
	}
}
.Teaser-title {
	position: relative;
	text-transform: uppercase;
	margin-top: 0;
	font-size: $font-15;

	@media (min-width: $layout-ml) {
		font-size: $font-17;
	}

	// &::after {
	// 	content: '';
	// 	border-bottom: 2px solid;
	// 	position: absolute;
	// 	width: rem(60);
	// 	left: 0;
	// 	bottom: -10px;
	// }
}
.Teaser-categories {
	@include flexRow;
	flex-wrap: wrap;
	flex: 4;
	margin-bottom: 0;
}
.Teaser-tags {
	@include flexRow;
	align-self: baseline;
	flex: 1;
	padding-top: rem(2);
	justify-content: flex-end;
	margin-bottom: 0;

	li {
		margin: 0 rem(2);
	}
	i {
		position: relative;
	}
	span {
		font-size: rem(10);
		position: absolute;
		bottom: -2em;
		left: -1em;
		right: -1em;
		text-align: center;
		opacity: 0;
		transition: opacity 0.2s $easing;
	}
	i:hover {

		span {
			opacity: 1;
		}
	}
}
