/**
 * Teaser
 **/

.Teaser {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0 rem($space);
	padding-top: 9.5em;

	a:hover,
	a:active {
		.Teaser-media {
			img {
				transition: opacity 0.3s ease-in-out;
				opacity: 0.8;
			}
		}
		.Teaser-body {
			position: relative;
		}
	}

	@media (min-width: 430px)  {
		padding: 6.5em rem(5) 1em;
	}

	@media (min-width: 650px) {
		padding-top: 10em;
	}

	@media (min-width: $layout-m) {
		padding-top: 14em;
	}
}

.Teaser-wrap {
	position: relative;
	flex: 1 100%;
	margin: rem(5);
	margin-bottom: 0.8em !important;

	background-color: white;

	transition: opacity 0.5s ease-in-out;
	opacity: 0;

	&.lazyloaded {
		opacity: 1;
	}

	@media (min-width: 500px) {
		flex: 2 40%;
		margin: rem(8);
	}

	@media (min-width: $layout-m) {
		margin-bottom: 2em !important;
		flex: 30%;
		max-width: 30%;
	}


	&:hover {
		.Teaser-link {
			&::after {
				width: rem(100);
			}
		}
	}

}

.Teaser-link::after {
	content: '';
	border-bottom: 2px solid;
	position: absolute;
	width: rem(60);
	left: 0;
	bottom: -10px;
	transition: all 0.2s ease-in-out !important;
}

.Teaser-media {
	@include ratio(4,3);
	margin-bottom: 0;
	overflow: hidden;

	img {
		width: 100%;
		height: rem(250);

		@include ratio-inner;

		backface-visibility: hidden;
		object-fit: cover;

		transition: opacity 0.5s ease-in-out;
		opacity: 0;

		&.lazyloaded {
			opacity: 1;
		}

	}
}

.Teaser-title {
	position: relative;
	text-transform: uppercase;
	margin-top: 0;
	font-size: $font-15;

	@media (min-width: $layout-ml) {
		font-size: $font-17;
	}
}

.Teaser-body {
	overflow: hidden;
	padding: 15px;
	margin: 0;

	img {
		width: 14px;
		float: left;
	}

	p {
		font-size: 11px;
		margin: 0;
	}
}

.Teaser-coop {
	margin-bottom: 2px;
	font-style: italic;
}

a.Teaser-wrap--last {
	position: relative;
	padding: rem(15);

	.Teaser-media {
		width: 90%;
		margin: 5% auto;

	}

	.Teaser-link {
		position: absolute!important;
		bottom: rem(20);
		border: 0;

		@media (min-width: $layout-m) {
			bottom: rem(42);
		}
	}
}
