{{#link-to 'index' class="Button--back"}}&rsaquo; back{{/link-to}}

<div class="About lazyload">
	<p>Currently working at <a href="http://kopfwelt.com/" target="_blank">Kopfwelt GmbH</a></p>
	<p>Contact:
		<a href="#">mail@kimberlygessner.com</a>
	</p>
</div>

<div class="AboutNav">
	<a href="https://github.com/Kimberlyge" target="_blank">
		<i class="icon-github" data-grunticon-embed></i>
	</a>
	<a href="https://de.linkedin.com/in/kimberlygessner" target="_blank">
		<i class="icon-linkedin" data-grunticon-embed></i>
	</a>
</div>

{{outlet}}
