<button class="SideNav-button" type="button" name="button" {{action "toggle"}}>
	<span>Title</span>
	<i class="icon-filter" data-grunticon-embed></i>
</button>

<div class="SideNav-content">
	<h2>Title</h2>
	{{yield}}
</div>
