/**
 * About
 */

.About {
	@include allCentered;

	padding: rem(110) rem(20);
	text-align: center;
	line-height: 1.6;

	@media (min-width: $layout-m) {
		padding: rem(60) rem($space);
	}
}

.AboutNav {
	position: absolute;
	bottom: rem($space);
	left: 0;
	right: 0;
	text-align: center;
}

.AboutNav-item {
	display: inline-block;
	padding: 0 rem(5);

	vertical-align: middle;


	svg {
		width: 18px;
		transition: fill 0.3s $easing;
	}

	&:hover {
		svg {
			fill: $yellow;
		}
	}
}
