/**
 * Detail
 */

.Device {
	position: fixed;
}
.Device--mobile {
	background-image: url('images/device-iphone.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: rem(286);
	height: rem(440);
	iframe {
		position: absolute;
		top: rem(53);
		left: rem(14);
		margin: auto;
		width: 100%;
		height: rem(512);
		transform: scale(0.65, 0.65);
		transform-origin: top left;

			html {
				font-size: 10px !important;
			}
	}
}
.Device--tablet {
	right: 0;
	background-image: url('images/device-tablet.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: rem(409);
	height: rem(280);
	iframe {
		position: absolute;
		top: rem(22);
		left: rem(41);
		margin: auto;
		width: 100%;
		height: rem(308);
		transform: scale(0.78, 0.78);
		transform-origin: top left;

	}
}

.Detail	{
	height: 100vh;
	position: relative;
	background: $white;

	@media (min-width: 656px) {
		@include flexRow;
		flex-wrap: wrap;
	}
}

.DetailBody {
	position: fixed;
	rotate: 0;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	max-width: rem(350);
	margin: auto;
	max-height: rem(300);
	border: 4px solid;
	padding: rem($space);
	text-align: center;
	z-index: 1;
	background: $white;
}
