/**
 * Detail
 */

.Device {
	position: fixed;
}
.Device--mobile {
	background-image: url('images/device-iphone.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 280px;
	height: 450px;
	iframe {
		position: absolute;
		top: 60px;
		left: 20px;
		margin: auto;
		// width: 337px;
		height: 505px;//rem(500);
		transform: scale(0.64, 0.65);
		transform-origin: top left;

			html {
				font-size: 10px !important;
			}
	}
}

.Detail	{
	height: 200vh;
	position: relative;
	background: $white;

	@media (min-width: 656px) {
		@include flexRow;
		flex-wrap: wrap;
	}
}

/* Intro */

.DetailHead {
	@include flexRowWrap;
}
.DetailHead--reverse {
	flex-direction: row-reverse;
}

.DetailHead-body {
	padding: rem($space);
	margin: auto;

	@media (min-width: $layout-s) {
		padding: rem($space*2);
	}
	h2 {
		@extend %font-light;
		letter-spacing: 0.1em;
		font-size: $font-20;

		@media (min-width: $layout-s) {
			font-size: rem(30);
		}
		@media (min-width: $layout-ml) {
			font-size: $font-40;
		}
	}
	p {
		@extend %font-light;
	}
}
.DetailHead-media {
	img {
		margin: 0 auto;
		width: 100%;
	}
	&.is-reversed {
		padding: rem($space*2);
	}
}

/* Items */

.DetailItem {
	margin: 0 auto;
	min-width: rem(300);
}
.DetailItem--text {
	@extend %font-light;
	letter-spacing: 0.05em;

	padding: rem(30);

	p:last-of-type {
		margin-bottom: 0;
	}
}
.DetailItem--small {
	max-width: rem(380);
}
.DetailText-title {
	width: rem(70);
	padding-bottom: rem(15);
	border-bottom: 6px solid;
}

/* Ingredients */

.DetailInfo {
	border: 3px solid;
	padding-bottom: 0;

	h3,
	ul {
		margin: 30px;

		p {
			margin: 0;
		}
	}
	div:empty,
	p:empty {
		height: 0.8em;
	}
}

.DetailInfo-bottom {
	border-top: 3px solid $black;
	padding: rem(10) rem(30);
	background: $black;
	p {
		display: inline-block;
		margin: 0 10px 0 0;
		text-transform: lowercase;
		font-style: italic;
		color: $white;
		margin-bottom: 0;
	}
	a {
		color: $white;
		padding-bottom: rem(3);
		border-bottom: 2px solid $white;
	}
}
