/**
 * Devices
 */

.Detail {
	// height: 100vh !important;
	// overflow: hidden  !important;
	// .Device--mobile {
	// 	height: 200%;
	// 	position: relative;
	// 	top: -100%;
	// }
}
.Device {
	display: none;

	@media (min-width: $layout-m) {
		display: block;
		position: absolute;
	}

}
.Device--mobile {
	background-image: url('images/device-iphone.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: rem(286);
	height: rem(440);

	left: 3em;
	top: -2em;
	bottom: 0;
	margin : auto;
	transform: rotate(-2deg);

	iframe {
		position: absolute;
		top: rem(53);
		left: rem(14);
		margin: auto;
		width: 100%;
		height: rem(508);
		transform: scale(0.65, 0.65);
		transform-origin: top left;
	}
}
.Device--tablet {
	right: 0;
	background-image: url('images/device-tablet.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: rem(409);
	height: rem(280);
	top: rem(80);
	right: rem(-108);


	transform: rotate(2deg);
	iframe {
		position: absolute;
		top: rem(22);
		left: rem(41);
		margin: auto;
		width: 100%;
		height: rem(308);
		transform: scale(0.755, 0.78);
		transform-origin: top left;

	}
}
