{{!-- {{nav-burger}} --}}
{{#link-to "about" class="Logo"}}
	{{!-- <h1>Kimberly Gessner</h1> --}}
	<h3>Hi. I'm <span class="Link">Kimberly</span>. I like coding awesome websites.</h3>
{{/link-to}}

{{yield}}
